{% extends 'main.html' %}
{% block user %}
<h4>Дата приема на работу: {{ user.date_startwork }}</h4>
<h2>Фио : {{ user.user_fio }}</h2>
    <h3>Зарплата: {{ user.users_salary }}</h3>
<h2>Опыт работы: {{ user.users_experience }}</h2>
<p>Название фирмы: {{ user.firm_name }}</p>
    <p>Премия сотрудника : 720000 {{ user.users_pr}}</p>

<hr>
    <div class="large-offset-1 large-8 columns">
<p>Комментарии:</p>
{% for comment in comments %}
    <p>{{ comment.comments_text }}</p>
{% endfor %}
    </div>
{% endblock %}

